# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.war
*.ear
*.nar

# Compiled class files
*.class

# Logs
*.log
log/
logs/

# Package Files
*.jar

# Database files
*.db
*.sqlite

# OS Files
.DS_Store
Thumbs.db

# Other
.settings/
.classpath
.project
.vscode/