
.banner_title {
    background-image: url(../img/anh1/anh1.png);
    background-size: 100%;
    height: 200px;
    align-items: center;
}

.content {
    width: 65%;
}

.header-title {
    font-weight: bold;
    font-size: 28px;
}

.content-list {
    padding-left: 20px;
}

.content-list li {
    font-size: 18px;
    color: #4A6375;
}

.file-attachment {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
    width: 330px;
}

.post-box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
